@font-face {
	font-family: "Lemon";
	src: url("../fonts/lemonmilk-bold-webfont.eot");
	src: url("../fonts/lemonmilk-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lemonmilk-bold-webfont.woff2") format("woff2"), url("../fonts/lemonmilk-bold-webfont.woff") format("woff"), url("../fonts/lemonmilk-bold-webfont.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@import "animations";
body {
	padding: 0;
	margin: 0;
	font-family: "Inconsolata", monospace;
	font-size: 29px;
	line-height: 38px;
	color: #180e01;
	font-weight: 500;
	height: 100vh;
	overflow: hidden;
}

body {
	&.ready {
		overflow: visible;
		height: auto;
	}
}
* {
	box-sizing: border-box;
}
strong {
	font-weight: bold;
}
.container {
	width: 100%;
	max-width: 1620px;
	margin-left: auto;
	margin-right: auto;
}

.hero {
	padding-top: 190px;
	.container {
		position: relative;
	}
	.hero-logo {
		position: absolute;
		top: -128px;
		left: -30px;
		width: 377px;
		height: 367px;
		z-index: 100;
		img {
			width: 100%;
		}
		opacity: 0;
		transform: translate(0, 5%);
	}
	.hero-bg {
		position: relative;
		padding-bottom: 42.5%;
		.bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
			opacity: 0;
			transform: translate(0, 5%);
		}
	}
	.hero-title {
		clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
		opacity: 0;
		transform: translate(0, 5%);
		text-align: center;

		h1 {
			font-size: 184px;
			line-height: 220px;
			margin: 0;
			padding: 0;
			white-space: nowrap;
			letter-spacing: -3px;
			font-weight: bold;
			span {
				letter-spacing: -30px;
			}
		}
	}
	&.init {
		.hero-logo {
			opacity: 1;
			transform: translate(0, 0);
			transition: 1s all 1.6s;
		}
		.hero-bg {
			.bg {
				transition: 0.8s all 1s;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				opacity: 1;
				transform: translate(0, 0);
			}
		}
		.hero-title {
			transition: 0.8s all 2s;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}
.about {
	padding-top: 35px;
	.wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.about-left {
		font-weight: bold;
		flex: 0 0 450px;
		h2 {
			margin: 0 0 50px 0;
			font-weight: bold;
			font-size: 40px;
			line-height: 40px;
			letter-spacing: 2.5px;
			clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
			opacity: 0;
		}
		svg {
			width: 256px;
			height: 256px;
			opacity: 0;
			transform: scale(0.5);
		}
	}
	.about-right {
		opacity: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
		flex: 0 0 calc(100% - 450px);
		p {
			margin: 0 0 35px 0;
			line-height: 34px;
			font-size: 29px;
			letter-spacing: 1.5px;
		}
	}
	&.init {
		.about-left {
			h2 {
				opacity: 1;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				transition: 0.8s all 0s;
			}
			svg {
				transform: scale(1);
				opacity: 1;
				transition: 0.8s all 0.4s;
			}
		}
		.about-right {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			opacity: 1;
			transition: 0.8s all 0.8s;
		}
	}
}

.mission-statement {
	padding-top: 40px;
	.wrapper {
		padding-top: 250px;
		padding-bottom: 250px;
		background: url("../images/pattern.png") repeat;
		text-align: center;
		background-size: 422px 422px;
		background-position: 30px 100%;
		opacity: 0;
		p {
			font-size: 22px;
			letter-spacing: 10px;
			margin: 0;
			opacity: 0;
			transform: translate(0, 5%);
		}
		h2 {
			font-weight: bold;
			font-family: "Lemon";
			text-transform: uppercase;
			max-width: 800px;
			margin: 38px auto 33px;
			font-size: 44px;
			letter-spacing: 4px;
			line-height: 70px;
			opacity: 0;
			transform: translate(0, 5%);
		}
		img {
			width: 195px;
			height: auto;
			opacity: 0;
			transform: translate(0, 5%);
		}
		&.init {
			background-position: 30px 0;
			transition: all 1s;
			opacity: 1;
			p {
				transition: 0.5s all 0.7s;
				opacity: 1;
				transform: translate(0, 0);
			}
			h2 {
				transition: 0.5s all 1s;
				opacity: 1;
				transform: translate(0, 0);
			}
			img {
				transition: 0.5s all 1.3s;
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
}

footer {
	padding-top: 75px;
	padding-bottom: 100px;
	.wrapper {
		text-align: center;
		img {
			width: 120px;
			opacity: 0;
			transform: translate(0, 5%);
		}
		p {
			margin: 10px auto 0;
			font-size: 20px;
			opacity: 0;
			transform: translate(0, 5%);
		}
	}

	&.init {
		.wrapper {
			img {
				opacity: 1;
				transform: translate(0, 0);
				transition: 0.5s all 0.3s;
			}
			p {
				opacity: 1;
				transform: translate(0, 0);
				transition: 0.5s all 0.6s;
			}
		}
	}
}
@media (max-width: 1023px) and (min-width: 897px), (max-width: 896px) and (orientation: portrait) {
	.hero {
		padding-top: 18.88vw;
		.container {
			position: relative;
		}
		.hero-logo {
			position: absolute;
			top: -10.42vw;
			left: 11.07vw;
			width: 33.85vw;
			height: 37.11vw;
			z-index: 100;
			img {
				width: 100%;
			}
		}
		.hero-bg {
			position: relative;
			padding-bottom: 90vw;
			.bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
		}
		.hero-title {
			text-align: left;
			padding-left: 12.37vw;
			padding-top: 8.07vw;
			h1 {
				font-size: 23.57vw;
				line-height: 17.71vw;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				letter-spacing: -0.39vw;
				font-weight: bold;
				span {
					letter-spacing: -3.91vw;
					display: block;
					line-height: 0;
				}
			}
		}
	}
	.about {
		padding-top: 5.47vw;
		.wrapper {
			display: flex;
			flex-direction: column;
			padding-left: 12.5vw;
		}
		.about-left {
			display: flex;
			flex-direction: row-reverse;
			flex: auto;
			align-items: center;
			padding-top: 2.6vw;
			h2 {
				margin: 0 0 0 3.26vw;
				font-weight: bold;
				font-size: 3.2vw;
				line-height: 4.56vw;
				letter-spacing: 0.5vw;
			}
			svg {
				width: 22.14vw;
				height: 22.14vw;
			}
		}
		.about-right {
			flex: auto;
			padding-top: 7.16vw;
			padding-right: 13.02vw;
			p {
				margin: 0 0 4.56vw 0;
				line-height: 5.3vw;
				font-size: 3.3vw;
				letter-spacing: 0.15vw;
			}
		}
	}

	.mission-statement {
		padding-top: 5.21vw;
		.wrapper {
			padding-top: 15vw;
			padding-bottom: 14.32vw;
			background: url("../images/pattern.png") repeat;
			text-align: center;
			background-size: 30.86vw 30.86vw;
			background-position: -2.21vw 100%;

			p {
				font-size: 2.34vw;
				letter-spacing: 1.04vw;
				margin: 0;
				line-height: 4vw;
			}
			h2 {
				font-weight: bold;
				font-family: "Lemon";
				text-transform: uppercase;
				margin: 4.04vw auto 0;
				font-size: 4vw;
				letter-spacing: 0.6vw;
				line-height: 6.5vw;
				max-width: 79vw;
			}
			img {
				width: 18.88vw;
			}
			&.init {
				background-position: -2.21vw 0;
			}
		}
	}

	footer {
		padding-top: 7.7vw;
		padding-bottom: 13.02vw;
		.wrapper {
			text-align: center;
			img {
				width: 15.63vw;
			}
			p {
				margin: 1.3vw auto 0;
				font-size: 2.6vw;
				line-height: 4vw;
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1919px) {
	body {
		font-size: 1.51vw;
		line-height: 1.98vw;
	}

	.container {
		max-width: 84.38vw;
	}

	.hero {
		padding-top: 9.9vw;
		.container {
		}
		.hero-logo {
			top: -6.67vw;
			left: -1.56vw;
			width: 19.64vw;
			height: 19.11vw;
			img {
			}
		}
		.hero-bg {
			.bg {
			}
		}
		.hero-title {
			h1 {
				font-size: 9.58vw;
				line-height: 11.46vw;
				letter-spacing: -0.16vw;
				span {
					letter-spacing: -1.56vw;
				}
			}
		}
	}
	.about {
		padding-top: 1.82vw;
		.wrapper {
		}
		.about-left {
			flex: 0 0 23.44vw;
			h2 {
				margin: 0 0 2.6vw 0;
				font-size: 2.08vw;
				line-height: 2.08vw;
				letter-spacing: 0.13vw;
			}
			svg {
				width: 13.33vw;
				height: 13.33vw;
			}
		}
		.about-right {
			flex: 0 0 calc(100% - 23.44vw);
			p {
				margin: 0 0 1.82vw 0;
				line-height: 1.77vw;
				font-size: 1.51vw;
				letter-spacing: 0.08vw;
			}
		}
	}

	.mission-statement {
		padding-top: 2.08vw;
		.wrapper {
			padding-top: 13.8vw;
			padding-bottom: 13.02vw;
			background-size: 21.98vw 21.98vw;
			background-position: 1.56vw 100%;
			p {
				font-size: 1.15vw;
				letter-spacing: 0.52vw;
				line-height: 2vw;
			}
			h2 {
				max-width: 46vw;
				margin: 1.7vw auto 1.72vw;
				font-size: 2.2vw;
				letter-spacing: 0.4vw;
				line-height: 3.65vw;
			}
			img {
				width: 10.16vw;
			}
			&.init {
				background-position: 1.56vw 0;
			}
		}
	}

	footer {
		padding-top: 4.5vw;
		padding-bottom: 5.21vw;
		.wrapper {
			img {
				width: 6.25vw;
			}
			p {
				margin: 0.52vw auto 0;
				font-size: 1.04vw;
			}
		}
	}
}
@media (max-width: 896px) and (orientation: landscape) {
	body {
		font-size: 1.51vw;
		line-height: 1.98vw;
	}

	.container {
		max-width: 84.38vw;
	}

	.hero {
		padding-top: 9.9vw;
		.container {
		}
		.hero-logo {
			top: -6.67vw;
			left: -1.56vw;
			width: 19.64vw;
			height: 19.11vw;
			img {
			}
		}
		.hero-bg {
			.bg {
			}
		}
		.hero-title {
			h1 {
				font-size: 9.58vw;
				line-height: 11.46vw;
				letter-spacing: -0.16vw;
				span {
					letter-spacing: -1.56vw;
				}
			}
		}
	}
	.about {
		padding-top: 1.82vw;
		.wrapper {
		}
		.about-left {
			flex: 0 0 23.44vw;
			h2 {
				margin: 0 0 2.6vw 0;
				font-size: 2.08vw;
				line-height: 2.08vw;
				letter-spacing: 0.13vw;
			}
			img {
				width: 13.33vw;
			}
		}
		.about-right {
			flex: 0 0 calc(100% - 23.44vw);
			p {
				margin: 0 0 1.82vw 0;
				line-height: 1.77vw;
				font-size: 1.51vw;
				letter-spacing: 0.08vw;
			}
		}
	}

	.mission-statement {
		padding-top: 2.08vw;
		.wrapper {
			padding-top: 13.8vw;
			padding-bottom: 13.02vw;
			background-size: 21.98vw 21.98vw;
			background-position: 1.56vw 100%;
			p {
				font-size: 1.6vw;
				letter-spacing: 0.52vw;
				line-height: 2vw;
			}
			h2 {
				max-width: 46vw;
				margin: 1.7vw auto 1.72vw;
				font-size: 2.2vw;
				letter-spacing: 0.4vw;
				line-height: 3.65vw;
			}
			img {
				width: 10.16vw;
			}
			&.init {
				background-position: 1.56vw 0;
			}
		}
	}

	footer {
		padding-top: 4.5vw;
		padding-bottom: 5.21vw;
		.wrapper {
			img {
				width: 6.25vw;
			}
			p {
				margin: 0.52vw auto 0;
				font-size: 1.6vw;
			}
		}
	}
}
